# 반복문

## for문

```Python
for 변수 in range(start, stop[,step]):
    반복할 블록
```
<img src="./images/09.반복문_for_01.png" alt="for문 구조1" width="250" height="auto" style="margin:0;border:1px solid tomato;display:inline-block;">
<img src="./images/09.반복문_for_02.png" alt="for문 구조2" width="250" height="auto" style="margin:0;border:1px solid tomato;display:inline-block;">

* range() 함수 사용과 내부적 변경
    - for i in [0,1,2]

## range( ) 사용한 for문

In [59]:
for i in range(10): # 0에서 시작해서 10에서 끝
    print(i, " : Hello Python")

print("="*50)

for i in range(0, 10, 1):
    print(i, " : Hi Python")
    
print("="*50)

for i in range(0, 10, 2):     # 맨뒤에 2는 2씩 증가하라는거
    print(i," : Life is too short, You need Python!")

0  : Hello Python
1  : Hello Python
2  : Hello Python
3  : Hello Python
4  : Hello Python
5  : Hello Python
6  : Hello Python
7  : Hello Python
8  : Hello Python
9  : Hello Python
==================================================
0  : Hi Python
1  : Hi Python
2  : Hi Python
3  : Hi Python
4  : Hi Python
5  : Hi Python
6  : Hi Python
7  : Hi Python
8  : Hi Python
9  : Hi Python
==================================================
0  : Life is too short, You need Python!
2  : Life is too short, You need Python!
4  : Life is too short, You need Python!
6  : Life is too short, You need Python!
8  : Life is too short, You need Python!

## iterable(list, tuple, String) 사용한 for문

In [60]:
temp_list = ["사자", "호랑이", "기린", "코끼리"]

print(temp_list[0])
print(temp_list[1])
print(temp_list[2])
print(temp_list[3])

사자
호랑이
기린
코끼리

In [61]:
print("{0:=^50}".format("반복문 쓸 거야~!"))

for i in temp_list:
    print(i)

====================반복문 쓸 거야~!====================
사자
호랑이
기린
코끼리

In [1]:
# 리스트에 있는 값을 꺼내는거 

for list_val in [1,2,3,4,5]:
    print(list_val)

1
2
3
4
5

In [63]:
for tuple_val in ["a", "b", "c", "d"]:
    print(tuple_val)
    
    
   # print(tuple_val,end=",")  -> 이렇게

a
b
c
d

In [57]:
for str_val in "Python":
    print(str_val)

P
y
t
h
o
n

In [56]:
for str_val in "Python":
    print(str_val, end="")

Python

In [64]:
# 쌍으로 구성된 iterable
# sample 리스트의 요소 값이 튜플이므로 "각각의 요소들이 자동으로"
# 튜플 형태로 (first, second)라는 변수에 대입되고
# [first, second]라는 변수로 정의 되었을 때는 튜플 자료형이 리스트 자료형으로 대입

sample = [(1,2), (3,4), (5,6)]
for num_val in sample:
    print(num_val)

print("-"*50)

    # tuple
for (first, second) in sample:      #(frist, second)
    print(first+second, end=",")

print()
print("-"*50)
    
    # list
for [first, second] in sample:
    print(first+second, end=",")

(1, 2)
(3, 4)
(5, 6)
--------------------------------------------------
3,7,11,
--------------------------------------------------
3,7,11,

In [65]:
scores = [90, 25, 40, 80]
studentNo = 0
print('%d번 학생은 합격입니다' % (studentNo +1))

studentNo = 1
print('%d번 학생은 불합격입니다' % (studentNo +1 ))

studentNo = 2
print('%d번 학생은 불합격입니다' % (studentNo +1 ))

studentNo = 3
print('%d번 학생은 합격입니다' % (studentNo +1))

print("-"*50)

# 상기 실행문을 for문과 if문을 사용해 작성해 보세요!

studentNo = 0
for score in scores:
    studentNo = studentNo + 1
    if score >=60:
        print('%d번 학생은 합격입니다.' % studentNo  )
    else:
        print('%d번 학생은 불합격입니다.' % studentNo  )

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 불합격입니다
4번 학생은 합격입니다
--------------------------------------------------
1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 불합격입니다.
4번 학생은 합격입니다.

In [66]:
# continue
print("< continue >")
studentNo = 0
for score in scores:
    studentNo = studentNo + 1
    if score < 60: continue
    print('%d번 학생은 합격입니다.' % studentNo  )
    
# break
print("< break >")
studentNo = 0
for score in scores:
    studentNo = studentNo + 1
    if score < 60: break
    print('%d번 학생은 합격입니다.' % studentNo  )
    

    
 #난 왜안될까 ㅋㅋㅋ 항상안되네

< continue >
1번 학생은 합격입니다.
4번 학생은 합격입니다.
< break >
1번 학생은 합격입니다.

### for문과 range() 함수

* range() : 숫자리스트를 자동으로 만들어 주는 함수
* range(stop) : 0~stop-1까지의 숫자 리스트를 자동으로 생성
* range(start, stop, step) : start~stop-1까지의 숫자리스트를  step만큼 건너 띄어서 자동생성

In [67]:
a = range(10) 
print(a)
b = range(1, 11)  #1~10 까지의 숫자리스트를 생성
print(b)

#1~10까지 합계를 구하기 : for문과 range 함수를 이용

sum = 1+2+3+4+5+6+7+8+9+10;
print('1부터 10까지의 합은 %d 입니다.'% sum)

sum = 0   #위에 꺼 sum 초기화시키려구 0한거야 

for i in range(1, 11):
    sum = sum + i
print('1부터 10까지의 합은 %d 입니다.'% sum)

sum = 0   #위에 꺼 sum 초기화시키려구 0한거야 

for i in range(1, 10,3):
    sum = sum + i
print('1부터 10까지의 합은 %d 입니다.'% sum)

range(0, 10)
range(1, 11)
1부터 10까지의 합은 55 입니다.
1부터 10까지의 합은 55 입니다.
1부터 10까지의 합은 12 입니다.

In [ ]:
# input()함수 : 외부(키보드)에서 값을 입력하기
# Input 함수는 문자열만 리턴해 준다.
# 문자열을 숫자로 변환함수 int()함수를 이용한다.


value = int(input('값을 입력하세요!'))    # int 니까 숫자를 입력하기  
print(value)

print(type(value))    # 변환이 잘됬나 볼려고 type 보는겨  int = 숫자 / string = 문자열    %d = 숫자(정수형)
a = value + 1 
print(a)

In [ ]:
sum =0
value = int(input"값 입력하라")
for i in range(1,value+1):
    sum = sum +1
print('1부터 10까지의 합은 %d 입니다.' % sum

In [10]:
# for 문과 슬라이싱 

words = ['cat', 'dog', 'windows', 'python']
for word in words:
    print(word,'=',len(word))

print('-'*60)   
    
# 단어 길이가 6자 이상인 단어만 출력

for word in words[:]:
    if len(word) >= 6:
        print(word,'=', len(word))
        
print('-'*60)   
    
# 단어 길이가 6자 이상인 단어만 리스트로 생성
more6 = []
for word in words[:]:
    if len(word) >= 6:
        more6.insert(0, word)
print(more6)

cat = 3
dog = 3
windows = 7
python = 6
------------------------------------------------------------
windows = 7
python = 6
------------------------------------------------------------
['python', 'windows']

In [55]:
# len()와 range() 같이 사용
a = ['marry', 'little','love','peace']
len(a)  

for i in range(len(a)):
    print(i,a[i])    # i = index 글자 위치 [0,1,2,3] 
    
    
print('-'*60)    
a='안녕하세요 파이썬!!'
for i in range(len(a)):
    if a[i]!='!':
        print(i,a[i])

0 marry
1 little
2 love
3 peace
------------------------------------------------------------
0 안
1 녕
2 하
3 세
4 요
5
6 파
7 이
8 썬

In [1]:
# for문을 이용한 구구단 만들기 
# 사용자가 구구단중 특정 단을 입력받아서 해당 되는 단을 출력하기 

num = int(input("몇단을 할거니? "))

for i in range(1,10):
    print(num, '*', i, '=', num*i)

몇단을 할거니? 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

In [2]:
 #선생님 풀이 
num = int(input("몇단을 할거니? "))

for i in range(1,10,1):
    print("%d x %d = %2d" % (num, i, num*i))

몇단을 할거니? 2
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [12]:
# 중첩 for문

for i in range(3):
    for j in range(3):
        print("파이썬의 중첩 for문 연습하기(i값:%d, j값:%d)" % (i , j))

파이썬의 중첩 for문 연습하기(i값:0, j값:0)
파이썬의 중첩 for문 연습하기(i값:0, j값:1)
파이썬의 중첩 for문 연습하기(i값:0, j값:2)
파이썬의 중첩 for문 연습하기(i값:1, j값:0)
파이썬의 중첩 for문 연습하기(i값:1, j값:1)
파이썬의 중첩 for문 연습하기(i값:1, j값:2)
파이썬의 중첩 for문 연습하기(i값:2, j값:0)
파이썬의 중첩 for문 연습하기(i값:2, j값:1)
파이썬의 중첩 for문 연습하기(i값:2, j값:2)

In [13]:
# 중첩 for문을 이용한 구구단 만들기 연습


num = int(input("몇단을 할거니? "))

for i in range(1,10,1):
    print("%d x %d = %2d" % (num, i, num*i))

몇단을 할거니? 2
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [34]:
for i in range(2,10):
    for j in range(1,10):
        print("%d x %d = %d" % (i,j,i*j))
    print('-'*60)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
------------------------------------------------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
------------------------------------------------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
------------------------------------------------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
------------------------------------------------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
------------------------------------------------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
------------------------------------------------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
------------------------------------------------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
------------------------------------------------------------

<img src="./images/09.반복문_for_ex01_구구단.png">

In [2]:
for i in range(2,10):
    print("%d x %d = %d" % (i,1,i), end=' ')

2 x 1 = 2 3 x 1 = 3 4 x 1 = 4 5 x 1 = 5 6 x 1 = 6 7 x 1 = 7 8 x 1 = 8 9 x 1 = 9

In [18]:
# 선생님 풀이
title=" "
for i in range(2,10):
    title = title + (" *** %d단 *** " % i )
print(title)


for i in range(1,10):
    gugudan = ""
    for j in range(2,10):
        gugudan = gugudan + (" %d x %d =%2d   " % (j,i,j*i))   #이번엔 j가 먼저 들어가야되  
    print(gugudan)

  *** 2단 ***  *** 3단 ***  *** 4단 ***  *** 5단 ***  *** 6단 ***  *** 7단 ***  *** 8단 ***  *** 9단 ***
 2 x 1 = 2    3 x 1 = 3    4 x 1 = 4    5 x 1 = 5    6 x 1 = 6    7 x 1 = 7    8 x 1 = 8    9 x 1 = 9
 2 x 2 = 4    3 x 2 = 6    4 x 2 = 8    5 x 2 =10    6 x 2 =12    7 x 2 =14    8 x 2 =16    9 x 2 =18
 2 x 3 = 6    3 x 3 = 9    4 x 3 =12    5 x 3 =15    6 x 3 =18    7 x 3 =21    8 x 3 =24    9 x 3 =27
 2 x 4 = 8    3 x 4 =12    4 x 4 =16    5 x 4 =20    6 x 4 =24    7 x 4 =28    8 x 4 =32    9 x 4 =36
 2 x 5 =10    3 x 5 =15    4 x 5 =20    5 x 5 =25    6 x 5 =30    7 x 5 =35    8 x 5 =40    9 x 5 =45
 2 x 6 =12    3 x 6 =18    4 x 6 =24    5 x 6 =30    6 x 6 =36    7 x 6 =42    8 x 6 =48    9 x 6 =54
 2 x 7 =14    3 x 7 =21    4 x 7 =28    5 x 7 =35    6 x 7 =42    7 x 7 =49    8 x 7 =56    9 x 7 =63
 2 x 8 =16    3 x 8 =24    4 x 8 =32    5 x 8 =40    6 x 8 =48    7 x 8 =56    8 x 8 =64    9 x 8 =72
 2 x 9 =18    3 x 9 =27    4 x 9 =36    5 x 9 =45    6 x 9 =54    7 x 9 =63    8 x 9 =72    9 x 9 =81

###  List 안에 for문 사용하기


1. 간단한 list안에 for문
 > [표현식 for 항목 in iterable if 조건]
 
2. 리스트 안에 2개 이상의 for문 구조 

```Python
[표현식 for 항목 in iterable if 조건1
        for 항목 in iterable if 조건1
        for 항목 in iterable if 조건 n
] 
```

In [31]:
# 1. 리스트 안에 for문을 포함하기 (1)
nums = [1,2,3,4]
result = []  #[3,6,9,12] 이렇게 나오고싶으면 ?

for num in nums:
    result.append(num*3)
print(result)

print(nums)

#리스트 안에 for문
result = [num*3 for num in nums]
print(result)

# 짝수만 출력  (num % 2= 0 이면 짝수)
result=[]
result = [num*3 for num in nums if num % 2==0]    # --> 이건  python에서만 사용하는 for문
print(result)

[3, 6, 9, 12]
[1, 2, 3, 4]
[3, 6, 9, 12]
[6, 12]

In [38]:
# 1. 리스트 안에 for문을 포함하기 (2)
# 구구단의 결과를 한개의 리스트에 저장하기

result=[
    i*j for i in range(2,10)
        for j in range(1,10)
]
print(result)
print('-'*100)

# if 조건 추가 (짝수) 
result=[
    i*j for i in range(2,10) if i % 2==0
        for j in range(1,10) if j % 2==0
]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]
----------------------------------------------------------------------------------------------------
[4, 8, 12, 16, 8, 16, 24, 32, 12, 24, 36, 48, 16, 32, 48, 64]